<div class="container">
    <%= bootstrap_form_for @recipe do |f| %>
        <%= render 'form_errors', form: @recipe %>
        <%= f.text_field :name %><br>
        <%= f.text_area :description %><br>
        <div class="row">
            <div class="col">
                <%= f.fields_for :recipe_ingredients do |recipe_ingredient| %>
                    <%= recipe_ingredient.text_field :quantity %>

                    <%= f.label :unit_type %>
                    <%= select(recipe_ingredient, :unit_type, options_for_select([ '' ,'tsp', 'tbsp', 'fl oz', 'cup', 'pint', 'qt', 'gal', 'ml', 'liter', 'lbs', 'oz', 'mg', 'g',  ])) %>

                    <%= recipe_ingredient.collection_select(:ingredient_id, Ingredient.all, :id, :name, {prompt: "Select Ingredient"} ) %>
                    
                    <%= "...Or Create a New Ingredient" %>
                    <%= recipe_ingredient.fields_for :ingredient, @recipe.ingredients.build do |ingredient| %>
                        <%= ingredient.text_field :name %>
                    <% end %>
                <% end %>
            </div>
            <div class="col">
                <p>Will be instructions form</p>
            </div>
        </div>
        <%= f.submit "Submit" %>
    <% end %>
</div>